[submodule "var/lib/hass"]
	path = roles/home-assistant/files/var/lib/hass
	url = git@github.com:luizribeiro/hass-config.git
[submodule "plugins/callback/anstomlog"]
	path = plugins/callback/anstomlog
	url = https://github.com/octplane/ansible_stdout_compact_logger
[submodule "library/homebrew-services"]
	path = library/homebrew-services
	url = git@github.com:luizribeiro/ansible-homebrew-services.git
