[requires]
python_version = '3.8'

[packages]
ansible = "*"
passlib = "1.7.2"

[dev-packages]
ansible-lint = "*"
molecule = "*"
molecule-vagrant = "*"
pyexpect = "1.0.20"
pyre-check = "*"
pytest = "*"
python-language-server = "*"
testinfra = "*"
yamllint = "*"
