[requires]
python_version = '3.8'

[packages]
ansible = "2.9.12"
passlib = "1.7.2"

[dev-packages]
ansible-lint = "4.2.0"
molecule = "3.0.7"
molecule-vagrant = "0.3"
pyexpect = "1.0.20"
pyre-check = "0.0.52"
pytest = "6.0.1"
python-language-server = "0.34.1"
testinfra = "5.2.2"
yamllint = "1.24.2"
