check process nginx with pidfile /var/run/nginx.pid
  start program = "/usr/bin/systemctl start nginx" with timeout 60 seconds
  stop program  = "/usr/bin/systemctl stop nginx"
  if failed
    host {{ inventory_hostname }}
    port 443
    protocol https
    request "/nginx_status"
    for 5 times within 15 cycles
  then restart

check process goaccess with pidfile /var/run/goaccess.pid
  start program = "/usr/bin/systemctl start goaccess"
  stop program = "/usr/bin/systemctl stop goaccess"

check process fail2ban with pidfile /var/run/fail2ban/fail2ban.pid
  start program = "/usr/bin/systemctl start fail2ban"
  stop program = "/usr/bin/systemctl stop fail2ban"

check process oauth2_proxy matching 'oauth2_proxy.*'
  start program = "/usr/bin/systemctl start oauth2_proxy"
  stop program = "/usr/bin/systemctl stop oauth2_proxy"

check host {{ inventory_hostname }} with address {{ inventory_hostname }}
  if failed
    port 443
    with protocol https
    and certificate valid > 30 days
    use ssl options {verify: enable}
    for 5 times within 15 cycles
  then alert
