<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ inventory_hostname }}</title>
    <link href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css
" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
    <h1>
      {{ inventory_hostname }}
    </h1>
    <div class="content">
      <div class="grid">
        <div class="grid-item">
          <a href="nginx_status/">
            <div class="container">
              <span class="mdi mdi-web"></span>
              <div>nginx</div>
            </div>
          </a>
        </div>
        <div class="grid-item">
          <a href="goaccess/">
            <div class="container">
              <span class="mdi mdi-chart-bar"></span>
              <div>goaccess</div>
            </div>
          </a>
        </div>
        <div class="grid-item">
          <a href="monit/">
            <div class="container">
              <span class="mdi mdi-alert-octagon"></span>
              <div>monit</div>
            </div>
          </a>
        </div>
        {% if 'pihole' in ansible_role_names %}
          <div class="grid-item">
            <a href="pihole/">
              <div class="container">
                <span class="mdi mdi-cancel"></span>
                <div>pihole</div>
              </div>
            </a>
          </div>
        {% endif %}
        {% if 'home-assistant' in ansible_role_names %}
          <div class="grid-item">
            <a href="https://home.thepromisedlan.club/">
              <div class="container">
                <span class="mdi mdi-home"></span>
                <div>home</div>
              </div>
            </a>
          </div>
          <div class="grid-item">
            <a href="vacuum/">
              <div class="container">
                <span class="mdi mdi-robot-vacuum-variant"></span>
                <div>vacuum</div>
              </div>
            </a>
          </div>
        {% endif %}
        {% if 'influxdb' in ansible_role_names %}
          <div class="grid-item">
            <a href="grafana/">
              <div class="container">
                <span class="mdi mdi-chart-areaspline"></span>
                <div>grafana</div>
              </div>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
