{% raw %}
{{define "error.html"}}
{% endraw %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ inventory_hostname }}</title>
    <link href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css
" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
    <h1>
      {{ inventory_hostname }}
    </h1>
    <div class="error">
      {% raw %}
      <h2><span class="mdi mdi-alert-decagram"></span> {{.Title}}</h2>
      <p>{{.Message}}</p>
      {% endraw %}
    </div>
  </body>
</html>
{% raw %}
{{end}}
{% endraw %}
